.card {
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 25px;
    max-width: 400px;
    margin: auto;
}

.card-header {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fcbf49;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.3s ease;
    font-family: "Roboto", sans-serif;
}

.form-control:focus {
    border-color: #fdd27b;
    box-shadow: 0 0 5px rgba(253, 210, 123, 0.4);
}

.btn-primary {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 2px solid #fdd27b;
    border: 2;
    border-color: #fdd27b;
    color: #fdd27b;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.btn-primary:hover {
    background-color: #fcbf49;
    box-shadow: 0 4px 12px rgba(252, 191, 73, 0.3);
    color: white;
}

.text-center {
    background-color: #ffffff;
    border-radius: 30px;
    color: #fdd27b;
    font-weight: 600;
    padding: 10px;
    font-size: 14px;
    border: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
