<!-- src/app/components/mesa-list/mesa-list.component.html -->
<h1>Mesas</h1>
<div class="mesas-container">
  <div class="container">
    <app-create-table class="card"></app-create-table>
    <!-- Usamos ngFor para iterar sobre las mesas -->
    <div *ngFor="let mesa of mesas" class="card">
      <!-- Aquí podrías agregar más detalles si lo deseas -->
      <div class="card-body">
        <i class='bx bx-dish bx-tada' ></i>
        <div class="card-name">{{ mesa.status }}</div>
      </div>
    </div>
  </div>
</div>
