/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Viewport Height completo */
}

.main-content {
  flex: 1; /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  padding-bottom: 20px; /* Espacio antes del footer */
}

/* Estilos del footer */
.footer {
  background-color: #885809; /* Color de fondo oscuro */
  color: white;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer div {
  padding: 10px;
  text-align: center;
}

.part1, .part3 {
  flex: 1;
  min-width: 300px;
}

.part2 {
  flex: 2;
  min-width: 300px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  
  .footer div {
    width: 100%;
    padding: 5px 0;
  }
}