body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  main {
    flex: 2;
  }
  
  .footer {
    background: #885809;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Distribución de las partes */
  .part1, .part2, .part3 {
    flex: 1;
    padding: 8px;
  }
  
  /* Responsive: Ajustar en pantallas pequeñas */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .part1, .part2, .part3 {
      width: 100%;
      padding: 5px 0;
    }
  }
  